@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>
        Error inserting student. Student need to have unique field BrojIndexa. Insert fails.
    </h3>

    @Html.ActionLink("Nazad na listu studenata", "Index", "Studenti", null, new { @class = "btn btn-secondary" })