@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Error while inserting Student or Predmet. Please try again with valid data.</h4>

@Html.ActionLink("Nazad na listu ispita", "Index", "Ispiti", null, new { @class = "btn btn-secondary" })