@model IspitMVCProjekat.Models.Predmet

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Izmena predmeta";
}



<h4>Izmena predmeta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PredmetId" />
            <div class="form-group">
                <label asp-for="ImePredmeta" class="control-label"></label>
                <input asp-for="ImePredmeta" class="form-control" />
                <span asp-validation-for="ImePredmeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj izmene" class="btn btn-primary" id="primary" />
            </div>
            @Html.ActionLink("Nazad na listu predmeta", "Index", "Predmeti", null, new { id = "secondary", @class = "btn btn-secondary" })
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

